<!DOCTYPE html>
<html>
<head>
    <title>Dot Game</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    
    <div class="grid">
        <div>
            <p>Score: <span id="score">0</span></p>
            <input id="slider" type="range" min="10" max="100" value="10">
            <p>Speed: <span id="speed">10</span></p>
        </div>
        <canvas id="board" class="game-board"></canvas>
    </div>
    
    <script type="text/javascript" src="/main.js"></script>
</body>
</html>