body {
  font-family: sans-serif;
  letter-spacing: 0.5px;
}

main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #00b894;
}

.controls {
  background-color: #ffeaa7;
  padding: 5px 35px;
  color: #00b894;
  border: black solid 2px;
  user-select: none;
}
.controls .score {
  font-size: 40px;
}

input.silder {
  background: #00b894;
  -webkit-appearance: none;
  border-radius: 5px;
  height: 4px;
  width: 100%;
}
input.silder::-webkit-slider-thumb {
  background: #fd9644;
  -webkit-appearance: none;
  border-radius: 4px;
  width: 18px;
  height: 18px;
}
